---
layout: layouts/home.njk
title: About
---

<h1>About the creator</h1>

<p>I'm just a small boy from a small family</p>

<p>Seriously though I am from Aotearoa (New Zealand), currently living in the capital city Pōneke (Wellington).</p>

<p>Pōneke is a lovely harbour town with a lot to offer, here is a picture of the harbour<p>

<img src="/img/harbour_birds_by_astralchemist.jpg" alt-text="three birds on a roap attached to a boat in Wellington harbour"/>